<%- include('./base/header') %>
<div class="container-fluid bg-primary  my-3 p-5" style="height: 30rem;">
    <div class="text-white text-center justify-content-center">
        <h1>Your book has been deleted from our library .....</h1>
    </div>
</div>
<%- include('./base/footer') %>
